/* Colors

#C40C0C
  Shades
  #b00b0b
  #760707

  Tints
  #f9e7e7


#FF6500
#FF8A08
#FFC100

*/

:root {
  --primary-color: #C40C0C;
  --primary-shade-1: #b00b0b;
  --primary-shade-2: #760707;
  --primary-tint: #f9e7e7;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: #212529;
}

a:link,
a:visited {
  color: var(--primary-color);
  transition: all 0.3s;
}

a:hover,
a:active {
  color: var(--primary-shade-2);
}

.header {
  background-color: var(--primary-tint);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 4rem;
  transform: scaleY(1);
}

.site-icon {
  height: 4rem;
}

.main-nav-list {
  display: flex;
  gap: 1.4rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.6rem;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary-color);
}

.hero-section {
  background-color: var(--primary-tint);

  border-top: 1px solid rgba(0, 0, 0, 0.09);
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts-section {
  display: grid;
  margin: 6rem 5rem;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 6rem;
  justify-content: center;
}

.post-card {
  max-width: 24rem;
  justify-self: center;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.06);
}

.post-img-card {
  margin-bottom: 1.4rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.post-text-card {
  padding: 0rem 2rem 3rem 2rem;
}

.post-title-card {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.post-excerpt-card {
  font-size: 1.2rem;
  letter-spacing: -0.09px;
  color: #444;
}

.read-icon-block:link,
.read-icon-block:visited {
  display: flex;
  color: inherit;
  align-items: center;
  gap: 0.4rem;
  justify-content: right;
  padding-bottom: 2rem;
  padding-right: 2rem;
  transition: all 0.3s;
  text-decoration: none;
}

.read-icon-block:hover,
.read-icon-block:active {
  color: var(--primary-color);
}

.read-icon-block span {
  font-weight: 500;
  font-size: 1.6rem;
}

.read-icon {
  font-size: 1.8rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-tint);
  padding: 2.4rem;
}

.social-links {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 1.4rem;
  list-style: none;
}

.social-link:link,
.social-link:visited {
  font-size: 3.2rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.social-link:hover,
.social-link:active {
  color: var(--primary-color);
}

.footer-nav {
  margin-bottom: 1.6rem;
}

/* -------------------------------------- */
/* DETAILS PAGE */
/* -------------------------------------- */

.post-container {
  display: flex;
  justify-content: center;
}

.post-w-70 {
  max-width: 70rem;
}

.post-content {
  margin: 6rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-img {
  max-width: 70rem;
  margin-bottom: 1.6rem;
}

.post-title {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  text-align: center;
  max-width: 60rem;
}

.post-details {
  font-size: 1.4rem;
  display: flex;
  gap: 1.8rem;
  margin-bottom: 2.4rem;
}

.post-detail {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.details-icon {
  font-size: 1.8rem;
}

.post-text-content {
  max-width: 70rem;
}

.post-excerpt {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 6rem;
  color: #555;
}

.post-text {
  font-size: 1.5rem;
  line-height: 1.7;
}

.post-comments-container {
  margin-bottom: 6rem;
}

.post-comments {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.comments-counter {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}

.comment-input {
  border: none;
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  padding-bottom: 0.8rem;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}

.comment-input:focus {
  outline: none;
  border-bottom: solid 0.1rem var(--primary-color);
}

.comment {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 1.7rem 1fr;
  column-gap: 2rem;
  row-gap: 0.8rem;
  align-items: center;
}

.user-icon {
  font-size: 4rem;
  align-self: self-start;
  grid-row: span 2;
}

.comment-details {
  font-size: 1.4rem;
  display: flex;
  gap: 0.4rem;
  align-self: end;
}

.comment-author {
  font-weight: 600;
}

.comment-text {
  font-size: 1.4rem;
  line-height: 1.6;
}