<footer class="footer">
  <ul class="social-links">
    <li>
      <a
        class="social-link"
        href="https://github.com/eugencius/"
        target="_blank"
      >
        <ion-icon name="logo-github"></ion-icon>
      </a>
    </li>

    <li>
      <a
        class="social-link"
        href="https://linkedin.com/in/eugencius"
        target="_blank"
      >
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
    </li>
  </ul>

  <nav class="footer-nav main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" href="{% url "account_privacy_policy" %}">Privacy Policy</a></li>
      <li><a class="main-nav-link" href="{% url "account_terms_service" %}">Terms of Service</a></li>
      <li><a class="main-nav-link" href="#">Support</a></li>
    </ul>
  </nav>

  <div class="copyright">Eugeblog &copy; 2024</div>
</footer>