<header class="header">
  <a href="{% url "posts:list_view" %}">
    <img class="site-icon" src="{{ MEDIA_URL }}icons/eugeblog-hori.svg" alt="" />
  </a>

  <nav class="main-nav">
    <ul class="main-nav-list">
      {% if request.user.is_authenticated %}
        <li><a href="#" class="main-nav-link">Action 1</a></li>
        <li>
          <a href="#" class="main-nav-link actions-link">
            <span>Actions</span>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </a>
          <ul class="dropdown">
            <li><a class="dropdown-link" href="#">Action</a></li>
            <li><a class="dropdown-link" href="{% url "posts:create_view" %}">Create</a></li>
            <li>
              <form class="form-logout dropdown-link" action="{% url "account_logout" %}" method="POST">
                {% csrf_token %}
                <button class="btn-logout" type="submit">
                  Logout
                </button>
              </form>
            </li>
          </ul>
        </li>
      {% else %}
        <li><a href="{% url "account_login" %}" class="main-nav-link">Get started</a></li>
      <li><a href="{% url "account_login" %}" class="main-nav-link btn-login">Sign in</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
