{% load i18n %}

<div class="modal-confirmation confirm-logout modal-hidden">
  <div class="modal-box">
    <div class="modal-content-container">
      <div class="modal-content">
        <ion-icon class="close-modal-icon" name="close-outline"></ion-icon>
        
        <h1 class="modal-title">{% translate "Confirm logout" %}?</h1>
        <p class="modal-text">{% translate "Are you sure you want to logout?" %}</p>
        
        <div class="modal-btns">
          <button class="btn-default btn-cancel-deletion">Cancel</button>
          <button class="btn-default btn-confirm-deletion">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
