{% if is_paginated %}
  <div class="pagination">
    <ul class="pagination-list">

      {% if paginator.has_previous %}
        <li><a href="?page={{ paginator.prev_page }}" class="pagination-link">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </a></li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li><a href="?page={{ page }}" class="pagination-link {% if paginator.cur_page == page %}page-active{% endif %}">{{ page }}</a></li>
      {% endfor %}

      {% if paginator.has_next %}
        <li><a href="?page={{ paginator.next_page }}" class="pagination-link">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}