{% if is_author or is_post_reviewer %}
  {% include "partials/_post_bookmark_btn.html" %}
  <div class="post-actions">
    <a class="btn-action btn-edit"
       href="{% url "posts:edit_view" post.id %}">
      <ion-icon name="create-outline"></ion-icon>
      <span>Edit post</span>
    </a>
    <form action="{% url "posts:delete_view" post.id %}"
          class="form-deletion"
          method="post">
      {% csrf_token %}
      <button class="btn-action btn-delete" type="submit">
        <ion-icon name="trash"></ion-icon>
        <span>Delete post</span>
      </button>
    </form>
  </div>
{% else %}
  {% include "partials/_post_bookmark_btn.html" %}
{% endif %}
